# TradeSQL 

Github: @guzmanwolfrank

In [6]:
import pandas as pd

filepath = r'https://raw.githubusercontent.com/guzmanwolfrank/Data-SQL/TradeSQL/TradeSQL/wolfranktrades%20-%20tradesOutput.csv'

df = pd.read_csv(filepath)

df['Account'] = 'Apex Block Account'

# Remove all rows with NaN or null values
df.dropna(inplace=True)
print("Removed all rows with NaN or null values.")

# Rename cum. net profit column to Cumprofit
df = df.rename(columns={'Cum. net profit': 'Cumprofit'})

# Convert currency columns to integer
df['Cumprofit'] = df['Cumprofit'].replace('[\$,]', '', regex=True).astype(float).astype(int)
df['Profit'] = df['Profit'].replace('[\$,]', '', regex=True).astype(float).astype(int)
df['Commission'] = df['Commission'].replace('[\$,]', '', regex=True).astype(float).astype(int)

# Calculate Net Profit
df['NetProfit'] = df['Profit'] - df['Commission']

# Define initial balance
initial_balance = 10000

# Calculate Balance
df['Balance'] = df['NetProfit'].cumsum() + initial_balance

# Calculate Return
df['Return'] = df['NetProfit'] / df['Balance']

# Display the DataFrame
display(df)

Removed all rows with NaN or null values.

,Trade number,Instrument,Account,Strategy,Market pos.,Qty,Entry price,Exit price,Entry time,Exit time,Entry name,Exit name,Profit,Cumprofit,Commission,NetProfit,Balance,Return
0,1.0,NQ MAR24,Apex Block Account,SupStop,Long,1.0,17664.50,17673.00,2024-01-25 10:04:45,2024-01-25 10:06:03,Entry,Stop1,170,170,2,168,10168,0.016522
1,2.0,MNQ MAR24,Apex Block Account,SupStop,Long,1.0,17672.50,17681.25,2024-01-25 10:06:43,2024-01-25 10:07:25,Entry,Stop1,17,187,1,16,10184,0.001571
2,3.0,MNQ MAR24,Apex Block Account,SupStop,Long,1.0,17680.50,17687.00,2024-01-25 10:07:33,2024-01-25 10:09:00,Entry,Stop1,13,200,1,12,10196,0.001177
3,4.0,MNQ MAR24,Apex Block Account,SupStop,Long,1.0,17676.50,17687.00,2024-01-25 10:07:45,2024-01-25 10:09:00,Entry,Stop1,21,221,1,20,10216,0.001958
4,5.0,MNQ MAR24,Apex Block Account,SupStop,Long,2.0,17683.00,17687.00,2024-01-25 10:08:07,2024-01-25 10:09:00,Entry,Stop1,16,237,2,14,10230,0.001369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5949,136.0,MNQ JUN24,Apex Block Account,SupStop,Long,1.0,18261.25,18263.75,2024-04-11 9:55:55,2024-04-11 9:59:37,Entry,Stop1,3,-2162,1,2,10168,0.000197
5951,138.0,MNQ JUN24,Apex Block Account,SupStop,Long,1.0,18244.25,18244.00,2024-04-11 10:00:40,2024-04-11 10:01:08,Entry,Stop1,-2,-2168,1,-3,10165,-0.000295
5953,140.0,MNQ JUN24,Apex Block Account,SupStop,Short,1.0,18231.50,18229.50,2024-04-11 10:01:28,2024-04-11 10:02:21,Entry,Exit,2,-2163,1,1,10166,0.000098
5955,142.0,MNQ JUN24,Apex Block Account,SupStop,Short,1.0,18232.50,18228.50,2024-04-11 10:01:28,2024-04-11 10:02:50,Entry,Entry,6,-2149,1,5,10171,0.000492
5956,143.0,MNQ JUN24,Apex Block Account,SupStop,Short,1.0,18232.00,18228.25,2024-04-11 10:03:00,2024-04-11 10:03:10,Entry,Exit,5,-2143,1,4,10175,0.000393