## SQL Salary and Consumer Survey
by Wolfrank Guzman

In [9]:
import pandas as pd
import random
import faker

# Create a Faker instance to generate fake data
fake = faker.Faker()

# Define the number of rows in the DataFrame
num_rows = 200

# Initialize empty lists for each column
RecordID = [i for i in range(1, num_rows + 1)]

# List of random sexes
sexes = [random.choice(["Male", "Female"]) for _ in range(num_rows)]

# Generate random first names starting with a random letter based on sex
first_names = [fake.first_name_male() if sex == "Male" else fake.first_name_female() for sex in sexes]

last_names = [fake.last_name() for _ in range(num_rows)]

# List of email endings
email_endings = ["@gmail.com", "@yahoo.com", "@msn.com", "@comcast.net", "@fios.net", "@myspace.com", "@microsoft.net", "@lycos.net"]

# Generate random email addresses using first names
emails = [f"{first.lower()}{random.choice(email_endings)}" for first in first_names]

# Generate other random data
occupations = [random.choice(["Software Developer", "Nurse Practitioner","Software Developer", "Nurse Practitioner", "Electrician", "Marketing Manager", "Dental Hygienist", "Mechanical Engineer", "Social Worker", "Pharmacist", "Financial Analyst", "Physical Therapist", "Graphic Designer", "Veterinarian", "Chef", "Police Officer", "Architect", "Occupational Therapist", "Teacher", "Accountant", "Civil Engineer", "Psychologist", "Plumber", "Web Designer", "Pharmacist Technician", "Registered Nurse", "Lawyer", "Biomedical Engineer", "Librarian", "Human Resources Manager", "Dental Assistant", "Data Analyst", "Radiologic Technologist", "Construction Worker", "Artist", "Environmental Scientist", "Financial Advisor", "Physical Education Teacher", "Chef", "Firefighter", "IT Manager", "Medical Technologist", "Flight Attendant", "Geologist", "Sales Manager", "Speech-Language Pathologist", "Electrician", "Marketing Coordinator", "Physician", "Event Planner", "Economist", "Nurse", "Aerospace Engineer", "Social Media Manager", "Pharmacist", "Investment Banker", "Occupational Therapist", "Professor", "Accountant", "Civil Engineer", "Psychologist", "Plumber", "UX Designer", "Pharmacy Technician", "Registered Nurse", "Journalist", "Biomedical Scientist", "Librarian", "HR Specialist", "Dental Hygienist", "Biotechnologist", "Physical Therapist Assistant", "Police Officer", "Architect", "Elementary School Teacher", "Financial Planner", "Chef", "Game Developer", "Environmental Engineer", "Graphic Designer", "Pediatrician", "Marketing Analyst"]) for _ in range(num_rows)]
countries_of_birth = [fake.country() for _ in range(num_rows)]
salaries = [random.randint(45000, 385000) for _ in range(num_rows)]
education = [random.choice(['BA/BS', 'HS','Graduate','GED', 'Doctorate', 'Masters']) for _ in range(num_rows)]
age = [random.randint(22, 65) for _ in range(num_rows)]
years_of_experience = []
for a in age:
    if 22 <= a <= 30:
        years_of_experience.append(random.randint(0, 5))
    elif 30 < a <= 40:
        years_of_experience.append(random.randint(6, 10))
    elif 41 <= a <= 50:
        years_of_experience.append(random.randint(10, 18))
    else:
        years_of_experience.append(random.randint(18, 25))

avg_salary_occupation = [random.randint(30000, 220000) for _ in range(num_rows)]


# List of real U.S. state names
us_states = [
    "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida",
    "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine",
    "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada",
    "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma",
    "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont",
    "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"
]

# Generate random states from the list of real U.S. state names
states = [random.choice(us_states) for _ in range(num_rows)]

# Create a DataFrame from the lists
df = pd.DataFrame({
    'RecordID': RecordID,
    'First Name': first_names,
    'Last Name': last_names,
    'Sex': sexes,
    'Age': age,
    'Occupation': occupations,
    'Country of Birth': countries_of_birth,
    'Salary': salaries,
    'Education': education,
    'Email': emails,
    'Years of Experience': years_of_experience,
    'Avg Salary for Occupation': avg_salary_occupation,
    'State': states,

})

# Display the first few rows of the DataFrame
display(df)

,RecordID,First Name,Last Name,Sex,Age,Occupation,Country of Birth,Salary,Education,Email,Years of Experience,Avg Salary for Occupation,State
0,1,Richard,Johnson,Male,28,Human Resources Manager,Mali,70597,BA/BS,richard@gmail.com,3,164785,Kansas
1,2,William,Black,Male,31,Civil Engineer,Pitcairn Islands,60678,Graduate,william@comcast.net,8,140270,Ohio
2,3,Karen,Cox,Female,24,Civil Engineer,Macao,197519,GED,karen@gmail.com,3,80630,New Mexico
3,4,Nathaniel,Lee,Male,65,Financial Analyst,Saint Lucia,76147,GED,nathaniel@msn.com,18,150896,Michigan
4,5,Thomas,Williams,Male,65,Police Officer,Isle of Man,62169,GED,thomas@gmail.com,24,116651,Arkansas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,Heather,Anderson,Female,47,Dental Assistant,San Marino,138643,Doctorate,heather@microsoft.net,18,74518,Oregon
196,197,Maria,Garcia,Female,44,Dental Hygienist,United Arab Emirates,54867,GED,maria@myspace.com,10,197521,Alabama
197,198,Robert,Perry,Male,33,Civil Engineer,Belarus,189965,Graduate,robert@yahoo.com,6,183567,Minnesota
198,199,Emily,Wagner,Female,24,Dental Hygienist,Azerbaijan,110305,Graduate,emily@comcast.net,2,57960,Nebraska
199,200,Derek,King,Male,38,IT Manager,Sweden,147370,HS,derek@msn.com,8,202338,Tennessee

In [10]:
import sqlite3

# Create and connect to a SQLite database
conn = sqlite3.connect('data.db')

# Create a DataFrame and store it in the database
df.to_sql('data', conn, if_exists='replace')

# Create a cursor for executing SQL queries
cursor = conn.cursor()


# 3. Select the average salary for all occupations
cursor.execute("SELECT AVG(Salary) FROM data")
average_salary = cursor.fetchone()[0]
print("\n3. Average Salary:", average_salary)

3. Average Salary: 207177.215

In [11]:


# 5. Select the records of individuals with salaries above $100,000
cursor.execute("SELECT * FROM data WHERE Salary > 200000")
results = cursor.fetchall()
print("\n5. Records of individuals with salaries above $200,000:")
for row in results:
    print(row)

5. Records of individuals with salaries above $200,000:
(5, 6, 'Lisa', 'Morris', 'Female', 27, 'Electrician', 'Cuba', 338878, 'Masters', 'lisa@yahoo.com', 1, 180038, 'Oklahoma')
(6, 7, 'Cassandra', 'Scott', 'Female', 33, 'Event Planner', 'Grenada', 337009, 'Doctorate', 'cassandra@lycos.net', 7, 33813, 'Florida')
(8, 9, 'Jeffrey', 'Bowman', 'Male', 60, 'Software Developer', 'Gibraltar', 254018, 'Doctorate', 'jeffrey@lycos.net', 18, 103054, 'Nevada')
(9, 10, 'Benjamin', 'Houston', 'Male', 51, 'Librarian', 'Saudi Arabia', 316569, 'HS', 'benjamin@yahoo.com', 20, 89997, 'Arkansas')
(11, 12, 'Keith', 'Watson', 'Male', 29, 'Registered Nurse', 'France', 284630, 'BA/BS', 'keith@lycos.net', 1, 86002, 'Louisiana')
(12, 13, 'Kevin', 'Lewis', 'Male', 48, 'Nurse Practitioner', 'Mauritius', 220206, 'Masters', 'kevin@yahoo.com', 10, 165661, 'Florida')
(15, 16, 'Dennis', 'Garcia', 'Male', 62, 'Medical Technologist', 'Colombia', 228832, 'HS', 'dennis@myspace.com', 18, 79557, 'Minnesota')
(16, 17, 'Christopher', 'Sanchez', 'Male', 30, 'Psychologist', 'Pitcairn Islands', 245804, 'HS', 'christopher@msn.com', 2, 51838, 'Minnesota')
(17, 18, 'Brittany', 'Harris', 'Female', 25, 'Physician', 'Vietnam', 333593, 'Graduate', 'brittany@lycos.net', 0, 204683, 'Florida')
(22, 23, 'Tonya', 'Byrd', 'Female', 48, 'Game Developer', 'Djibouti', 275692, 'HS', 'tonya@myspace.com', 10, 218078, 'Hawaii')
(26, 27, 'Tami', 'Medina', 'Female', 45, 'Dental Assistant', 'Congo', 243272, 'GED', 'tami@lycos.net', 17, 144636, 'Iowa')
(27, 28, 'Timothy', 'Alexander', 'Male', 49, 'Software Developer', 'Martinique', 308598, 'BA/BS', 'timothy@yahoo.com', 10, 50006, 'Missouri')
(28, 29, 'Ryan', 'Fleming', 'Male', 42, 'Pediatrician', 'Samoa', 354108, 'GED', 'ryan@microsoft.net', 12, 139020, 'New Mexico')
(30, 31, 'Randy', 'Cruz', 'Male', 61, 'Police Officer', 'Madagascar', 221356, 'HS', 'randy@comcast.net', 24, 97290, 'Washington')
(31, 32, 'Edward', 'Woods', 'Male', 64, 'UX Designer', 'Dominica', 288733, 'Masters', 'edward@yahoo.com', 18, 73147, 'New Jersey')
(33, 34, 'Erik', 'Duffy', 'Male', 36, 'Nurse Practitioner', 'Jersey', 373479, 'Doctorate', 'erik@fios.net', 6, 54272, 'Rhode Island')
(35, 36, 'Amy', 'Holloway', 'Female', 33, 'Biotechnologist', 'Swaziland', 360376, 'GED', 'amy@microsoft.net', 6, 115073, 'Iowa')
(36, 37, 'Megan', 'Farmer', 'Female', 30, 'Chef', 'Central African Republic', 346081, 'GED', 'megan@myspace.com', 5, 97263, 'Missouri')
(38, 39, 'William', 'Wilson', 'Male', 54, 'Physical Therapist Assistant', 'French Guiana', 364608, 'GED', 'william@comcast.net', 20, 67174, 'Utah')
(39, 40, 'Angela', 'Robinson', 'Female', 46, 'Graphic Designer', 'Jamaica', 228388, 'GED', 'angela@gmail.com', 17, 161543, 'Washington')
(41, 42, 'Sherry', 'Williams', 'Female', 29, 'Geologist', 'Thailand', 375226, 'GED', 'sherry@myspace.com', 4, 159050, 'Alabama')
(44, 45, 'Matthew', 'Williams', 'Male', 24, 'Journalist', 'Syrian Arab Republic', 277323, 'Doctorate', 'matthew@microsoft.net', 3, 112901, 'Kansas')
(45, 46, 'Alexander', 'Quinn', 'Male', 38, 'Marketing Analyst', 'Uzbekistan', 253082, 'GED', 'alexander@lycos.net', 10, 122741, 'Iowa')
(49, 50, 'Christopher', 'Myers', 'Male', 25, 'Civil Engineer', 'Guernsey', 220901, 'BA/BS', 'christopher@microsoft.net', 1, 195774, 'Alaska')
(50, 51, 'Stephen', 'Wilson', 'Male', 23, 'Veterinarian', 'Turkey', 217970, 'Masters', 'stephen@myspace.com', 4, 31199, 'Vermont')
(51, 52, 'Jeff', 'Herrera', 'Male', 55, 'UX Designer', 'Moldova', 333408, 'Graduate', 'jeff@comcast.net', 19, 152530, 'North Dakota')
(52, 53, 'Theresa', 'Wilkerson', 'Female', 49, 'Pharmacist Technician', 'Martinique', 310889, 'Masters', 'theresa@lycos.net', 18, 39817, 'Kansas')
(54, 55, 'Laura', 'Smith', 'Female', 29, 'Police Officer', 'Slovakia (Slovak Republic)', 267224, 'Doctorate', 'laura@fios.net', 3, 164945, 'Rhode Island')
(57, 58, 'Patrick', 'Hernandez', 'Male', 47, 'Registered Nurse', 'Niger', 200345, 'BA/BS', 'patrick@microsoft.net', 11, 160005, 'Maryland')
(60, 61, 'Jacqueline', 'Berger', 'Female', 41, 'Electrician', 'Antarctica (the territory South of 60 deg S)', 380140, 'HS', 'jacqueline@gmail.com', 12, 161331, 'South Dakota')
(61, 62, 'Heather', 'Smith', 'Female', 27, 'Human Resources Manager', 'Lithuania', 219114, 'BA/BS', 'heather@comcast.net', 2, 128967, 'Washington')
(62, 63, 'Lisa', 'Mckenzie', 'Female', 49, 'Dental Assistant', 'Northern Mariana Islands', 266215, 'Masters', 'lisa@myspace.com', 17, 184581, 'Hawaii')
(63, 64, 'Pamela', 'Butler', 'Female', 57, 'Registered Nurse', 'American Samoa', 281721, 'GED', 'pamela@msn.com', 24, 60694, 'Missouri')
(65, 66, 'Kathryn', 'Johnson', 'Female', 32, 'Mechanical Engineer', 'Togo', 357360, 'HS', 'kathryn@comcast.net', 9, 114456, 'New York')
(71, 72, 'David', 'Smith', 'Male', 26, 'Police Officer', 'Dominica', 227752, 'BA/BS', 'david@myspace.com', 2, 39385, 'Vermont')
(72, 73, 'Ralph', 'Adams', 'Male', 65, 'Biomedical Scientist', 'Croatia', 285289, 'Graduate', 'ralph@lycos.net', 21, 38089, 'New Jersey')
(73, 74, 'Kylie', 'Smith', 'Female', 25, 'Physician', 'Tuvalu', 262683, 'GED', 'kylie@comcast.net', 5, 53649, 'South Dakota')
(74, 75, 'Elizabeth', 'Petersen', 'Female', 44, 'Speech-Language Pathologist', 'South Georgia and the South Sandwich Islands', 337620, 'Masters', 'elizabeth@yahoo.com', 12, 90536, 'Idaho')
(75, 76, 'Brenda', 'Lee', 'Female', 41, 'Graphic Designer', 'Uganda', 372040, 'Masters', 'brenda@comcast.net', 17, 31433, 'Massachusetts')
(78, 79, 'Jeanne', 'Morales', 'Female', 43, 'Dental Assistant', 'Chad', 200318, 'Doctorate', 'jeanne@comcast.net', 10, 122491, 'Maryland')
(79, 80, 'James', 'Jackson', 'Male', 64, 'Physician', 'Turks and Caicos Islands', 226363, 'Doctorate', 'james@comcast.net', 20, 148262, 'Hawaii')
(80, 81, 'Sonya', 'Scott', 'Female', 52, 'Biotechnologist', 'Palau', 269376, 'HS', 'sonya@msn.com', 25, 182711, 'Wyoming')
(81, 82, 'Lisa', 'Kerr', 'Female', 27, 'Physician', 'Bouvet Island (Bouvetoya)', 264140, 'BA/BS', 'lisa@fios.net', 4, 174217, 'Maine')
(84, 85, 'Sheila', 'Stewart', 'Female', 59, 'Dental Assistant', 'Thailand', 380518, 'Graduate', 'sheila@yahoo.com', 21, 159883, 'Vermont')
(88, 89, 'Deborah', 'Davis', 'Female', 35, 'Chef', 'Belgium', 246400, 'BA/BS', 'deborah@yahoo.com', 7, 163946, 'Pennsylvania')
(89, 90, 'Michael', 'Blake', 'Male', 52, 'Elementary School Teacher', 'El Salvador', 289563, 'HS', 'michael@gmail.com', 21, 130740, 'California')
(92, 93, 'Timothy', 'Obrien', 'Male', 63, 'Financial Advisor', 'Sudan', 279972, 'GED', 'timothy@yahoo.com', 23, 58910, 'Utah')
(93, 94, 'Linda', 'Thomas', 'Female', 35, 'Professor', 'Christmas Island', 248805, 'HS', 'linda@gmail.com', 9, 160389, 'Oklahoma')
(94, 95, 'Linda', 'Ramos', 'Female', 43, 'Marketing Coordinator', 'Suriname', 347504, 'Graduate', 'linda@comcast.net', 16, 156673, 'Oklahoma')
(95, 96, 'Morgan', 'Randall', 'Female', 53, 'Financial Analyst', 'Cocos (Keeling) Islands', 335255, 'BA/BS', 'morgan@myspace.com', 25, 81942, 'Oklahoma')
(96, 97, 'Diane', 'Gibbs', 'Female', 44, 'Pharmacist Technician', 'Svalbard & Jan Mayen Islands', 380813, 'GED', 'diane@microsoft.net', 13, 154893, 'Iowa')
(97, 98, 'Larry', 'Craig', 'Male', 34, 'Veterinarian', 'Saint Barthelemy', 376051, 'Doctorate', 'larry@lycos.net', 8, 184216, 'Alaska')
(101, 102, 'Sierra', 'Greer', 'Female', 26, 'Registered Nurse', 'Nigeria', 252943, 'Graduate', 'sierra@lycos.net', 5, 119248, 'Missouri')
(102, 103, 'Dustin', 'Roberts', 'Male', 33, 'Economist', 'Antarctica (the territory South of 60 deg S)', 250133, 'Masters', 'dustin@msn.com', 10, 91653, 'Massachusetts')
(103, 104, 'Leonard', 'Anderson', 'Male', 39, 'Marketing Manager', 'South Africa', 290575, 'Masters', 'leonard@msn.com', 7, 173309, 'New York')
(104, 105, 'David', 'Rosario', 'Male', 38, 'Graphic Designer', 'Czech Republic', 209085, 'Doctorate', 'david@microsoft.net', 10, 185587, 'New Hampshire')
(105, 106, 'Donna', 'Sims', 'Female', 54, 'Pharmacist', 'Tokelau', 235145, 'Masters', 'donna@gmail.com', 18, 150975, 'Nevada')
(106, 107, 'Lisa', 'Martinez', 'Female', 54, 'Civil Engineer', "Lao People's Democratic Republic", 280881, 'BA/BS', 'lisa@myspace.com', 23, 215264, 'Montana')
(107, 108, 'Christopher', 'Smith', 'Male', 38, 'Elementary School Teacher', 'Netherlands', 289365, 'GED', 'christopher@msn.com', 10, 46589, 'New Jersey')
(109, 110, 'Tracy', 'Miller', 'Female', 44, 'Physical Therapist Assistant', 'Jamaica', 317662, 'Masters', 'tracy@gmail.com', 18, 210465, 'Alabama')
(110, 111, 'Paul', 'Reyes', 'Male', 56, 'Electrician', 'Qatar', 342620, 'BA/BS', 'paul@microsoft.net', 25, 124581, 'Ohio')
(111, 112, 'Angela', 'Gray', 'Female', 24, 'Firefighter', 'Moldova', 240179, 'HS', 'angela@myspace.com', 5, 137735, 'West Virginia')
(112, 113, 'Amy', 'Jimenez', 'Female', 26, 'Construction Worker', 'Albania', 203192, 'BA/BS', 'amy@myspace.com', 5, 30675, 'Virginia')
(115, 116, 'James', 'Carr', 'Male', 58, 'Lawyer', 'Indonesia', 365614, 'Masters', 'james@comcast.net', 22, 213475, 'Mississippi')
(116, 117, 'Morgan', 'Hernandez', 'Female', 43, 'Physical Therapist Assistant', 'Latvia', 226516, 'HS', 'morgan@myspace.com', 18, 48457, 'Alaska')
(117, 118, 'Katherine', 'Underwood', 'Female', 56, 'Nurse Practitioner', 'Kenya', 281716, 'BA/BS', 'katherine@fios.net', 24, 196222, 'Maryland')
(119, 120, 'Amy', 'Garcia', 'Female', 35, 'Professor', 'Bhutan', 230684, 'Doctorate', 'amy@msn.com', 9, 141388, 'Arizona')
(122, 123, 'Timothy', 'Lynn', 'Male', 38, 'Game Developer', 'Marshall Islands', 379027, 'BA/BS', 'timothy@fios.net', 7, 131113, 'Minnesota')
(125, 126, 'Sarah', 'White', 'Female', 42, 'Social Worker', 'New Zealand', 337617, 'GED', 'sarah@yahoo.com', 14, 45166, 'Kentucky')
(129, 130, 'Lauren', 'Mills', 'Female', 52, 'Architect', 'Korea', 267682, 'BA/BS', 'lauren@lycos.net', 22, 95090, 'Missouri')
(132, 133, 'Daniel', 'Webb', 'Male', 40, 'Software Developer', 'Kyrgyz Republic', 236872, 'Doctorate', 'daniel@fios.net', 10, 132473, 'Connecticut')
(133, 134, 'Lisa', 'Davis', 'Female', 41, 'Physician', 'Tanzania', 293309, 'Masters', 'lisa@yahoo.com', 16, 141090, 'Rhode Island')
(135, 136, 'Duane', 'Turner', 'Male', 48, 'Mechanical Engineer', 'Falkland Islands (Malvinas)', 200327, 'HS', 'duane@yahoo.com', 10, 108625, 'Tennessee')
(136, 137, 'Erica', 'Moon', 'Female', 43, 'UX Designer', 'Seychelles', 375171, 'Graduate', 'erica@fios.net', 16, 89813, 'New York')
(137, 138, 'Beverly', 'Morgan', 'Female', 34, 'Physical Therapist Assistant', 'Western Sahara', 208064, 'BA/BS', 'beverly@comcast.net', 7, 134113, 'Montana')
(138, 139, 'Elizabeth', 'Parsons', 'Female', 50, 'Medical Technologist', 'Greece', 360626, 'Graduate', 'elizabeth@fios.net', 10, 107522, 'Nebraska')
(139, 140, 'Angela', 'Johnston', 'Female', 31, 'Psychologist', 'Bahrain', 222190, 'HS', 'angela@myspace.com', 6, 181379, 'California')
(141, 142, 'Brandon', 'Johnson', 'Male', 42, 'Accountant', 'Micronesia', 320488, 'Doctorate', 'brandon@lycos.net', 14, 205140, 'Utah')
(143, 144, 'Patrick', 'Cruz', 'Male', 57, 'Aerospace Engineer', 'Japan', 379210, 'Masters', 'patrick@microsoft.net', 21, 128705, 'Louisiana')
(144, 145, 'Jeffery', 'Ferrell', 'Male', 29, 'Artist', 'Afghanistan', 375437, 'Doctorate', 'jeffery@comcast.net', 3, 138446, 'Kansas')
(146, 147, 'Margaret', 'Jones', 'Female', 31, 'Marketing Coordinator', 'Saint Martin', 249754, 'Doctorate', 'margaret@myspace.com', 8, 202997, 'Minnesota')
(151, 152, 'Jason', 'Clarke', 'Male', 37, 'Plumber', 'Panama', 316406, 'GED', 'jason@microsoft.net', 7, 196115, 'Maine')
(154, 155, 'Cynthia', 'Lewis', 'Female', 58, 'Accountant', 'Guinea-Bissau', 233881, 'Masters', 'cynthia@myspace.com', 18, 186680, 'North Dakota')
(155, 156, 'Derrick', 'Norton', 'Male', 42, 'Librarian', 'Macao', 321133, 'HS', 'derrick@microsoft.net', 13, 189776, 'South Carolina')
(156, 157, 'Jennifer', 'Nelson', 'Female', 30, 'Construction Worker', 'Nicaragua', 374169, 'Doctorate', 'jennifer@microsoft.net', 4, 87133, 'Tennessee')
(157, 158, 'Joshua', 'Brooks', 'Male', 56, 'Graphic Designer', 'Nepal', 346332, 'Doctorate', 'joshua@lycos.net', 24, 115691, 'Illinois')
(160, 161, 'Stacy', 'Brown', 'Female', 60, 'Dental Hygienist', 'Gabon', 287783, 'GED', 'stacy@yahoo.com', 20, 45908, 'Connecticut')
(161, 162, 'Denise', 'Sanchez', 'Female', 65, 'HR Specialist', 'Venezuela', 349443, 'Graduate', 'denise@microsoft.net', 22, 48367, 'Idaho')
(162, 163, 'Andrea', 'Esparza', 'Female', 52, 'Civil Engineer', 'Malta', 308448, 'BA/BS', 'andrea@microsoft.net', 25, 72700, 'Kentucky')
(163, 164, 'Gregory', 'Herring', 'Male', 47, 'Firefighter', 'Namibia', 334486, 'Masters', 'gregory@gmail.com', 14, 141632, 'Texas')
(167, 168, 'Chelsea', 'Young', 'Female', 27, 'Environmental Engineer', 'Montserrat', 344858, 'GED', 'chelsea@microsoft.net', 1, 90874, 'Arizona')
(169, 170, 'Matthew', 'Hahn', 'Male', 45, 'Financial Advisor', 'Bahrain', 355723, 'Masters', 'matthew@yahoo.com', 10, 142301, 'Nevada')
(173, 174, 'Michael', 'Perry', 'Male', 59, 'Human Resources Manager', 'Brazil', 328576, 'BA/BS', 'michael@yahoo.com', 24, 210460, 'Iowa')
(174, 175, 'Timothy', 'Wagner', 'Male', 54, 'Librarian', 'Central African Republic', 345533, 'Graduate', 'timothy@comcast.net', 20, 180387, 'Arkansas')
(175, 176, 'Timothy', 'Mitchell', 'Male', 23, 'Psychologist', 'Turkmenistan', 278954, 'GED', 'timothy@myspace.com', 3, 163668, 'Alabama')
(177, 178, 'Susan', 'Jenkins', 'Female', 63, 'Biomedical Scientist', 'Reunion', 345558, 'Masters', 'susan@msn.com', 23, 198219, 'Massachusetts')
(178, 179, 'Julie', 'Jordan', 'Female', 45, 'Nurse', 'Sri Lanka', 328374, 'Masters', 'julie@microsoft.net', 16, 75819, 'Wyoming')
(180, 181, 'Michelle', 'Stewart', 'Female', 63, 'Librarian', 'Hungary', 268613, 'GED', 'michelle@myspace.com', 22, 148766, 'Maine')
(181, 182, 'Samuel', 'Harvey', 'Male', 47, 'Pharmacist', 'Pitcairn Islands', 217140, 'GED', 'samuel@fios.net', 17, 30927, 'Georgia')
(182, 183, 'Kirsten', 'Carpenter', 'Female', 55, 'HR Specialist', 'Guinea', 240578, 'Graduate', 'kirsten@fios.net', 24, 41083, 'Minnesota')
(184, 185, 'Nicholas', 'Coleman', 'Male', 33, 'Financial Advisor', 'Turkmenistan', 303075, 'Masters', 'nicholas@microsoft.net', 6, 191033, 'Illinois')
(187, 188, 'Corey', 'Taylor', 'Male', 44, 'HR Specialist', 'Iran', 207045, 'HS', 'corey@microsoft.net', 14, 38631, 'Wisconsin')
(191, 192, 'Susan', 'Jackson', 'Female', 33, 'Software Developer', 'Saint Helena', 272004, 'GED', 'susan@msn.com', 9, 69334, 'North Carolina')
(193, 194, 'Kristen', 'Jones', 'Female', 40, 'Social Worker', 'Taiwan', 321600, 'GED', 'kristen@fios.net', 8, 188911, 'Arizona')

In [12]:

# 6. Select the youngest person's record
cursor.execute("SELECT * FROM data ORDER BY Age ASC LIMIT 1")
youngest_person = cursor.fetchone()
print("\n6. Youngest Person:", youngest_person)

6. Youngest Person: (83, 84, 'John', 'Welch', 'Male', 22, 'Financial Planner', 'Dominican Republic', 102387, 'Doctorate', 'john@gmail.com', 0, 45276, 'Georgia')

In [13]:


# 7. Select the occupations and their average salaries
cursor.execute("SELECT Occupation, AVG(Salary) FROM data GROUP BY Occupation")
results = cursor.fetchall()
print("\n7. Average salary for each occupation:")
for row in results:
    print(row)

7. Average salary for each occupation:
('Accountant', 277184.5)
('Aerospace Engineer', 379210.0)
('Architect', 158660.33333333334)
('Artist', 226391.0)
('Biomedical Engineer', 98995.0)
('Biomedical Scientist', 261525.0)
('Biotechnologist', 203834.75)
('Chef', 155546.2857142857)
('Civil Engineer', 183090.88888888888)
('Construction Worker', 288680.5)
('Dental Assistant', 236994.83333333334)
('Dental Hygienist', 136559.6)
('Economist', 154316.0)
('Electrician', 353879.3333333333)
('Elementary School Teacher', 215391.33333333334)
('Environmental Engineer', 344858.0)
('Event Planner', 138074.8)
('Financial Advisor', 255878.4)
('Financial Analyst', 205701.0)
('Financial Planner', 117503.5)
('Firefighter', 230609.33333333334)
('Flight Attendant', 178857.0)
('Game Developer', 327359.5)
('Geologist', 235038.5)
('Graphic Designer', 224270.2857142857)
('HR Specialist', 265688.6666666667)
('Human Resources Manager', 171618.5)
('IT Manager', 173366.0)
('Investment Banker', 109823.0)
('Journalist', 147720.6)
('Lawyer', 259644.5)
('Librarian', 247433.83333333334)
('Marketing Analyst', 156985.0)
('Marketing Coordinator', 298629.0)
('Marketing Manager', 245167.0)
('Mechanical Engineer', 278843.5)
('Medical Technologist', 294729.0)
('Nurse', 198415.5)
('Nurse Practitioner', 195911.2857142857)
('Occupational Therapist', 125595.4)
('Pediatrician', 245769.5)
('Pharmacist', 140071.25)
('Pharmacist Technician', 345851.0)
('Pharmacy Technician', 177987.0)
('Physical Education Teacher', 88528.0)
('Physical Therapist Assistant', 279212.5)
('Physician', 219166.42857142858)
('Plumber', 202342.66666666666)
('Police Officer', 156751.0)
('Professor', 185369.5)
('Psychologist', 193176.6)
('Radiologic Technologist', 100077.0)
('Registered Nurse', 189632.5)
('Social Media Manager', 134578.0)
('Social Worker', 241756.66666666666)
('Software Developer', 214403.16666666666)
('Speech-Language Pathologist', 337620.0)
('Teacher', 110693.0)
('UX Designer', 277824.0)
('Veterinarian', 297010.5)

In [14]:


# 8. Count the number of people in each age group
cursor.execute("SELECT CASE \
                 WHEN Age BETWEEN 22 AND 30 THEN '22-30' \
                 WHEN Age BETWEEN 31 AND 40 THEN '31-40' \
                 WHEN Age BETWEEN 41 AND 50 THEN '41-50' \
                 ELSE '51 and over' \
               END AS Age_Group, COUNT(*) \
               FROM data GROUP BY Age_Group")
results = cursor.fetchall()
print("\n8. Count of people in each age group:")
for row in results:
    print(row)

8. Count of people in each age group:
('22-30', 40)
('31-40', 47)
('41-50', 45)
('51 and over', 68)

In [15]:



# 9. Select the highest salary and the corresponding occupation
cursor.execute("SELECT Occupation, MAX(Salary) FROM data")
result = cursor.fetchone()
print("\n9. Occupation with Highest Salary:", result)

9. Occupation with Highest Salary: ('Pharmacist Technician', 380813)

In [16]:


# Close the database connection
conn.close()