# Merge Script for Data

## After creating the longitude and lattitude coordinates from zipcodes using the Nominatim module, we can now merge the Manhattan Data spreadsheet with the manzip_coordinates spreadsheet using dataframes.  Once we clean the new merged data with dropna inplace method, we can now use this new spreadsheet data to create Geographical data on dashboards and other visualization devices.

In [5]:
import pandas as pd
from geopy.geocoders import Nominatim
import requests

In [6]:


url1 = "https://raw.githubusercontent.com/guzmanwolfrank/Data-SQL/main/ManhattanRE/Data/ManhattanData.csv"  # Replace with the actual URL
data = pd.read_csv(url1)


url2 = "https://raw.githubusercontent.com/guzmanwolfrank/Data-SQL/main/ManhattanRE/Data/manzip_coordinates.csv"  # Replace with the actual URL
zip = pd.read_csv(url2)


display (data)
display (zip)

,RECORD INDEX,NEIGHBORHOOD,BLDGCAT,BLDGDESCRIPTION,TAXCLP,BLOCK,LOT,BLDGCP,ADDRESS,ZIP_CODE,RESIDENTIAL_ UNITS,COMMERCIAL_UNITS,UNITS,LANDSFT,GROSSSF,BUILT,TAXCLSALE,BLDGCTOS,SALE_PRICE,SALE_DATE
0,1,ALPHABET CITY,2,TWO FAMILY DWELLINGS,1,372,36,S2,19 AVENUE D,10009,2.0,1.0,3.0,826,"2,481",1900.0,1,S2,$1.00,1/20/2023
1,2,ALPHABET CITY,7,RENTALS - WALKUP APARTMENTS,2,390,50,C1,"209 EAST 7TH STREET, 3E",10009,29.0,0.0,29.0,"3,900","18,099",1900.0,2,C1,"$154,196.00",9/15/2023
2,3,ALPHABET CITY,7,RENTALS - WALKUP APARTMENTS,2,390,50,C1,"209 EAST 7TH STREET, 4E",10009,29.0,0.0,29.0,"3,900","18,099",1900.0,2,C1,"$154,196.00",9/15/2023
3,4,ALPHABET CITY,7,RENTALS - WALKUP APARTMENTS,2A,390,60,C2,191 EAST 7TH STREET,10009,5.0,0.0,5.0,"1,080","3,328",1910.0,2,C2,"$2,725,000.00",8/10/2023
4,5,ALPHABET CITY,7,RENTALS - WALKUP APARTMENTS,2B,396,4,C4,221 AVENUE B,10009,8.0,1.0,9.0,"1,936","5,538",1904.0,2,C4,$10.00,3/31/2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16937,16938,WASHINGTON HEIGHTS UPPER,22,STORE BUILDINGS,4,2175,63,K1,180 DYCKMAN STREET,10040,0.0,5.0,5.0,"5,000","5,000",1927.0,4,K1,$0.00,10/31/2023
16938,16939,WASHINGTON HEIGHTS UPPER,22,STORE BUILDINGS,4,2175,66,K1,172 DYCKMAN STREET,10040,0.0,6.0,6.0,"10,000","9,500",1927.0,4,K1,$0.00,6/20/2023
16939,16940,WASHINGTON HEIGHTS UPPER,22,STORE BUILDINGS,4,2175,66,K1,172 DYCKMAN STREET,10040,0.0,6.0,6.0,"10,000","9,500",1927.0,4,K1,$0.00,9/22/2023
16940,16941,WASHINGTON HEIGHTS UPPER,29,COMMERCIAL GARAGES,4,2172,1,G6,4560 BROADWAY,10040,0.0,0.0,0.0,"15,450",0,NaN,4,G6,"$15,000,000.00",11/16/2022
16941,16942,WASHINGTON HEIGHTS UPPER,44,CONDO PARKING,4,2180,1221,RG,"736 WEST 187 STREET, PRK21",10033,NaN,1.0,1.0,NaN,NaN,2003.0,4,RG,"$1,100,000.00",9/22/2023

    ZIP_CODE        LAT       LONG
0      10001  40.748429 -73.994181
1      10002  40.717153 -73.989208
2      10003  40.731456 -73.988649
3      10004  40.701218 -74.013159
4      10005  40.719306 -74.006884
..       ...        ...        ...
69     10199  40.751490 -73.997656
70     10271  40.708095 -74.010485
71     10278  40.715459 -74.004193
72     10279  40.712601 -74.008658
73     10280  40.707945 -74.017156

[74 rows x 3 columns]

In [7]:

# Merge the 'data' DataFrame with 'xyz_data' based on 'zipcode'
merged_data = pd.merge(data, zip, on="ZIP_CODE", how="outer")

ndata= merged_data 

# Let's clean the data 
ndata.dropna(inplace=True)

# Display the new, clean merged data.  It is now ready for geographical data analysis and other visualizations like dashboards! 
display(ndata)

,RECORD INDEX,NEIGHBORHOOD,BLDGCAT,BLDGDESCRIPTION,TAXCLP,BLOCK,LOT,BLDGCP,ADDRESS,ZIP_CODE,...,UNITS,LANDSFT,GROSSSF,BUILT,TAXCLSALE,BLDGCTOS,SALE_PRICE,SALE_DATE,LAT,LONG
0,1.0,ALPHABET CITY,2.0,TWO FAMILY DWELLINGS,1,372.0,36.0,S2,19 AVENUE D,10009,...,3.0,826,"2,481",1900.0,1.0,S2,$1.00,1/20/2023,40.725853,-73.980805
1,2.0,ALPHABET CITY,7.0,RENTALS - WALKUP APARTMENTS,2,390.0,50.0,C1,"209 EAST 7TH STREET, 3E",10009,...,29.0,"3,900","18,099",1900.0,2.0,C1,"$154,196.00",9/15/2023,40.725853,-73.980805
2,3.0,ALPHABET CITY,7.0,RENTALS - WALKUP APARTMENTS,2,390.0,50.0,C1,"209 EAST 7TH STREET, 4E",10009,...,29.0,"3,900","18,099",1900.0,2.0,C1,"$154,196.00",9/15/2023,40.725853,-73.980805
3,4.0,ALPHABET CITY,7.0,RENTALS - WALKUP APARTMENTS,2A,390.0,60.0,C2,191 EAST 7TH STREET,10009,...,5.0,"1,080","3,328",1910.0,2.0,C2,"$2,725,000.00",8/10/2023,40.725853,-73.980805
4,5.0,ALPHABET CITY,7.0,RENTALS - WALKUP APARTMENTS,2B,396.0,4.0,C4,221 AVENUE B,10009,...,9.0,"1,936","5,538",1904.0,2.0,C4,$10.00,3/31/2023,40.725853,-73.980805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16936,16936.0,WASHINGTON HEIGHTS UPPER,22.0,STORE BUILDINGS,4,2174.0,57.0,K2,124 DYCKMAN STREET,10040,...,1.0,"1,600","1,920",1922.0,4.0,K2,$0.00,10/4/2023,40.851471,-73.933321
16937,16937.0,WASHINGTON HEIGHTS UPPER,22.0,STORE BUILDINGS,4,2174.0,65.0,K2,110 DYCKMAN STREET,10040,...,2.0,"1,600","1,920",1940.0,4.0,K2,"$1,900,000.00",12/19/2022,40.851471,-73.933321
16938,16938.0,WASHINGTON HEIGHTS UPPER,22.0,STORE BUILDINGS,4,2175.0,63.0,K1,180 DYCKMAN STREET,10040,...,5.0,"5,000","5,000",1927.0,4.0,K1,$0.00,10/31/2023,40.851471,-73.933321
16939,16939.0,WASHINGTON HEIGHTS UPPER,22.0,STORE BUILDINGS,4,2175.0,66.0,K1,172 DYCKMAN STREET,10040,...,6.0,"10,000","9,500",1927.0,4.0,K1,$0.00,6/20/2023,40.851471,-73.933321
16940,16940.0,WASHINGTON HEIGHTS UPPER,22.0,STORE BUILDINGS,4,2175.0,66.0,K1,172 DYCKMAN STREET,10040,...,6.0,"10,000","9,500",1927.0,4.0,K1,$0.00,9/22/2023,40.851471,-73.933321

In [10]:
ndata.to_csv("Data\Merged.csv", index=True)

OSError: Cannot save file into a non-existent directory: 'Data'